*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}
#container{
    width: 100%;
    height: 100vh;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
}
.logo{
    width: 150px;
}
.list-items{
    list-style: none;
    display: inline;
    margin: 0px 20px;
}
.links{
    text-decoration: none;
    color: black;
    font-weight: 800;
}
.links:hover{
    color: orangered;
    text-decoration: underline;
}
.homecontent{
    margin: 13% 0px 0px 8%;
}
#username{
    font-size: 50px;
    margin-bottom: 20px;
    font-family: "IBM Plex Sans", sans-serif;
}
#lname{
    font-family: "PT Serif", serif;
    color: chartreuse;
}
#userdetails{
    line-height: 1.2;
}
#download{
    text-decoration: none;
    background-color: rgb(231, 155, 12);
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 30px;
}
.homeimage{
    width: 45%;
    height: 75%;
    position: absolute;
    right: 30px;
    bottom: 0px;
}
.group1{
    position: absolute;
    height: 100%;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 2s,left 1s;
}
.homeimage:hover #shape{
    bottom: 60px;

}
.homeimage:hover #girl{
    left: 30px;
}
#about{
    margin: 15% 8% 0px 8%;
}
.sectionhead{
    text-align: center;
}
.mainhead{
    font-size: 30px;
}
.subhead{
    font-size: 20px;
    color: chartreuse;
}
.aboutbody{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    align-items: center;
}
.img1{
    width: 80%;
}
.aboutconten{
    font-size: 20px;
    text-align: center;
}
.informations{
    margin-top: 1.3rem;
}
.infobox{
    margin-top: 10px;
}
.infobox>span{
    margin-left: 10px;
}
#skills{
    margin: 8% 8% 0px 8%;
}
.skillcontent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
    margin-top: 20px;
}
.bars{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1rem 0px;
}
.barhead, .barpercent{
    font-weight: 500;
    font-size: 1.3rem;
}
.basebar{
    width: 100%;
    height: 0.5rem;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    bottom: 0px;
}
.htmlbar{
    background-color: orange;
    width: 89%;
}
.cssbar{
    background-color: orange;
    width: 83%;
}
.jsbar{
    background-color: orange;
    width: 71%;
}
.reactbar{
    background-color: orange;
    width: 79%;
}
#contact{
    margin: 8% 8% 0px 8%;
}
.iconcollections{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.icon{
    width: 50px;
    height: 50px;
    /* border: solid; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}
.brands{
    color: black;
    font-size: 2rem;
}
.icon:hover{
    background-image: linear-gradient(to bottom right,red,orange,yellow);
}
.icon:hover .brands{
    color: white;
    /* animation */
    animation: move 3s;
}
@keyframes move{
    0%{
        transform: rotate(40deg);
    }
    20%{
        transform: rotate(-40deg);
    }
    40%{
        transform: rotate(40deg);
    }
    60%{
        transform: rotate(-40deg);
    }
    80%{
        transform: rotate(40deg);
    }
    100%{
        transform: rotate(-40deg);
    }
    
}
footer{
    margin: 8% 0px 0px 0px;
}
#copyright{
    text-align: center;
    font-weight: 600;

}
.uparrow{
    float: right;
    margin-top: -30px;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: azure;
}
::-webkit-scrollbar-thumb{
    background-color: orange;
    border-radius: 10px;
}